@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Poppins:wght@200;300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
}

*::-webkit-scrollbar{
    width: 8px;
    background-color: #6A0DAD;
}

a {
    text-decoration: inherit;
    color: inherit;
}

.app{
    min-height: 98.5vh;
    border: 8px solid #6A0DAD;
    margin: 10px;
    padding: 15px;
}